
@import url('https://fonts.cdnfonts.com/css/nova-quinta-personal-use');


/* HEADER / BANNER -> SARA // HASTA LA LINEA 200*/
/* Selector universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.banner {
  width: 99%;
  height: 80vh;
  animation: banner 10s infinite linear alternate ;
  background-size: 100% 100%;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;

  /*Keyframes banner*/
}
@keyframes banner {
  0%, 20% {
      background-image: url("../img/fondo_banner1.jpg");
  }
25%, 45% {
  background-image: url("../img/fondo_banner2.jpg");
}
50%, 70%{
  background-image: url("../img/fondo_banner3.jpg");
}
75%, 100% {
  background-image: url("../img/fondo_banner4.jpg");

}

}
.container {
  width: 100%;
  margin: 40px;
  overflow: hidden;
  padding: 20px;
  height: auto;
}
.title {
  font-size: 70px;
  font-weight: 100;
  color: rgb(24, 26, 27);
  font-family: 'Nova Quinta PERSONAL USE', sans-serif;
  text-align: center;               
}

.subtitle {
  font-size: 30px;
  font-weight: 100;
  color: rgb(24, 26, 27);
  font-family: 'Montserrat' , sans-serif;
  text-align: center;
}

.title--active {
  color: var(--gold1); /*???*/
  font-weight: 700;
  color: rgb(102, 183, 45);
  font-family: 'Montserrat' , sans-serif;
  text-align: center;

}

.socialmedia {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.socialmedia__icon {
  font-size: 20px;
  margin-bottom: 1px;
  border-radius: 50%;
  background-color: #3bd614;
  color: #0e0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; 
  height: 40px;
  margin-left: 40px;
}

.container--modifier {
  width: 100%;
}
.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, var(--black) 0%, var(--black1) 100%);
}

.nav__hero {
  color: #52c35d;
  height:35px;
  background-color: rgba(66, 195, 34, 0); /*?*/
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: inherit;
  padding: 0;
}

/*Logo navegador*/
.logo {
  display: flex;
  align-items: center;

}

.logo__name {
  font-size: 30px;
  font-weight: 700; 
  color: #43b627; 
  font-family: 'Montserrat', sans-serif; 
  text-align: left; 
  margin-top: 10px;
}

.logo__img { 
       width: 70px; 
      height: auto; 
      margin-right: 10px; 
  }

.link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  padding: 16px;
}

.link--active {
  color: var(--gold1); 
  font-weight: 800;
}

.hero__main {
  height: 200%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0; 
}

/*Tarjetas de productos*/

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: -220px;
  position: relative;

}

.card {
  width: 240px;
  height: 300px;
  background-color: #e6f3e0;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  background-color: #cef8c2; /* Cambia el color de fondo al pasar el cursor */
  transform: scale(1.05); /* Hace que la tarjeta aumente de tamaño */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); /* Cambia la sombra al pasar el cursor */
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  z-index: 9;
}

.card__text {
  margin-top: 10px;
  font-weight: bold;
  color: #34bd12;
}




/* PRODUCTOS -SANTI  */

*{
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

section {
    background: #D8F9C8
}

section h1 {
    text-align: center;
    padding: 20px;
}

.ea-productos-container1 {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    padding: 3%;

}

.ea-flex-categoriaprods {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    background:  #F6FFFF;
    border-radius: 20px;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.5);
    margin: 0 2%;
}

.ea-flex-categoriaprods img {
    width: 50%;
}

.ea-flex-categoriaprods h2{
    margin: 5%;
    padding: 5%;
}

.ea-products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    padding: 5px;
}

.ea-products div{
    width:40%;
}

.ea-producto {
    display: flex;
    width: 25%;
    height: auto;
    margin: 5px 3px;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.ea-producto:hover {
    width: 30%;
}

.ea-producto * {
   margin: 5px;
}

.ea-producto button {
    padding:4px;
    background: #63b864ac;
    border-radius: 20px;
}

.ea-producto button:hover {
    background: #D8F9C8;
}

.ea-flex-categoriaprods button:hover {
    background: #D8F9C8;
}

.ea-stbutton_vertodo {
    margin: 4px;
    width: 30%;
    padding: 5px;
    border-radius: 20px;
}


/* FOOTER / VALE -> */

.ea-st-FooterContainerNosotros {
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ea-nosotrosflex {
    display: flex;
    justify-content: space-evenly;
}

.ea-st-nosotrosTitle {
    text-align: center;
    margin:30px;
    padding: 30px;
    font-size: 30px;
    color: #063d1d;
    font-family:  'Montserrat' , sans-serif;
    font-weight: bold;
}

.ea-st-nosotrosTitleh3 {
    font-size: 20px;
    color: #063d1d;
    margin-bottom: 0;
    font-family:  'Montserrat' , sans-serif;
    font-weight: bold;
}
.ea-st-nosotros1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 30%;
    background-color: #e5ffd8;
    box-shadow: #063d1d;
    border-radius: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-family:  'Montserrat' , sans-serif;
    font-weight: medium;
}

.ea-st-nosotros1-container p {
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    color: #063d1d;
}

.img1 {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.img2 {
    width: 40%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.ea-st-nosotrosEquipo{
    display:flex;
    flex-direction: column;
}

.ea-st-nosotrosEquipo article{
    display:flex;
    justify-content: center;
}

.ea-st-FooterEquipoTitle {
    text-align: center;
    margin-top: 70px;
    color: #063d1d;
    font-family:  'Montserrat' , sans-serif;
    font-weight: bold;
}

.ea-st-memberCard {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.ea-st-memberCard img {
    width: 25%;
}
.ea-st-EquipoText {
    text-align: justify;
    color: #063d1d;
    font-family:  'Montserrat' , sans-serif;
    font-weight: medium;
}

.ea-st-EquipoName {
    text-align: center;
    color: #063d1d;
    font-family:  'Montserrat' , sans-serif;
    font-weight: bold,
}


/*FOOTER*/
.footer-content {
    margin-top: 50px;
}

.ea-st-FooterTitle {
    text-align: center;
    color: #063d1d;
    margin-bottom: 0;
    margin-top: 50px;
    font-family:  'Montserrat' , sans-serif;
    font-weight: bold;
}

.ea-st-FooterTitle2 {
    margin-top: 5px;
    margin-bottom: 50px;
    font-family:  'Montserrat' , sans-serif;
    font-weight: bold;

}
/*Form*/
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #063d1d;
    background-color: #e5ffd8;
    height: 600px;
    font-family:  'Montserrat' , sans-serif;
    font-weight: medium;
}

.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 11.2px;
    border: none;
    background: none;
    outline: 0;
    color: bisque;
    border-bottom: 1px solid #63b864;
}

.contact-form form button {
    background:linear-gradient(#63b864 50%, #e5ffd8 150%);
    border: #e5ffd8;
    border-radius: 20px;
    width: 30%;
    height: 40px;
    color: #e5ffd8;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 115px;
    font-family:  'Montserrat' , sans-serif;
    font-weight: bold;
}

/*Barra de footer*/

.barrafooter {
    display: flex;
    width:100%;
    height: 60px;
    background: linear-gradient(180deg, #65c067 0%, #e5ffd8 180%);
    color: #063d1d;
    font-family:  'Montserrat' , sans-serif;
    font-weight: bold;
}

.barrafooter i {
    margin-right: auto;
    size: 30px;
}

.ea-st-FooterInfo {
    margin-top: 15px;
    margin-left: 100px;
    font-size: 15px;
    line-height: 5px;
    display: grid;
    grid-template: 0px / 50% 50% 150%
}

.copyright {
    width: 100%;
    color:#063d1d;
    padding:0;
    margin:0;
    font-size: 16px;
    margin-top: 15px;
    text-align: right;
}

.sect-carrito {
    height: 100%;
    background: linear-gradient(180deg, #40C589 0%, #63B864 100%);
    padding: 50px;
    /* display: none; */
}

.boton-gotoCarrito {
    display: flex;
    width: 24%;
    height: 40px;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    border-radius: 20px;
    background-color: #94A684;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 50px;
}

.boton-gotoCarrito:hover {
    background: #004225;
    box-shadow: 0 4px 4px rgba(0,0,0,0.4);
}
/*CARRITO*/

body {
    
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h1 {
    font-size: 40px;
    padding: 20px;
}



footer {
    background-color: black;
}
.container-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    
    }
.carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    width: 50%;
    height: auto;
    padding: 30px;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.5);
}

.carrito * {
    margin: 20px;
}

.carrito ul {
    list-style: none;
}

.carrito a{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    margin: 0;
    width: 100%; 
    text-decoration: none;
    color: black;
}

.carrito i:hover{
    color: rgb(100,100,100);
}

.products {
    box-shadow: 0px 3px 3px rgba(0,0,0,0.5);
    width: 60%;
    max-height: 50%;
    height: auto;
    border-radius: 20px;
}

.products div{
    display: flex;
    justify-content: space-between;
}

.totales {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    border-radius:20px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 30px
}

.totales p {
    width: auto;
}

.totales-text {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.totales-text * {
    width: 10%;
    margin: 0 10px;
    padding: 0px;
    font-size: 20px;
}

.totales-text span {
    margin-right:50px;
}

.total-alejado {
    margin-top:25%;
    margin-bottom: 10%;
}

.total-alejado h2 {
    font-size: 30px;
}

.totales button {
    width: 90%;
    height: 40px;
    border-radius: 20px;
    background-color: #94A684;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.totales button:hover {
    background: #004225;
    box-shadow: 0 4px 4px rgba(0,0,0,0.4);
}


































































































































































































































































































/* HEADER / BANNER -> // LINEA 400 - 600VALE */

.ea-st-FooterContainerNosotros {
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ea-nosotrosflex {
    display: flex;
    justify-content: space-evenly;
}

.ea-st-nosotrosTitle {
    text-align: center;
    padding: 30px;
    font-size: 30px;
    color: #063d1d;
    font-family:  'Montserrat' , sans-serif;
    font-weight: bold;
}

.ea-st-nosotrosTitleh3 {
    font-size: 20px;
    color: #063d1d;
    margin-bottom: 0;
    font-family:  'Montserrat' , sans-serif;
    font-weight: bold;
}
.ea-st-nosotros1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 30%;
    background-color: #e5ffd8;
    box-shadow: #063d1d;
    border-radius: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-family:  'Montserrat' , sans-serif;
    font-weight: medium;
}

.ea-st-nosotros1-container p {
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    color: #063d1d;
}

.img1 {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.img2 {
    width: 40%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.ea-st-nosotrosEquipo{
    display:flex;
    flex-direction: column;
}

.ea-st-nosotrosEquipo article{
    display:flex;
    justify-content: center;
}

.ea-st-FooterEquipoTitle {
    text-align: center;
    margin-top: 70px;
    margin-top: 70px;
    color: #063d1d;
    font-family:  'Montserrat' , sans-serif;
    font-weight: bold;
}

.ea-st-memberCard {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.ea-st-memberCard *{
    margin: 10px;
}

.ea-st-memberCard img {
    width: 25%;
}
.ea-st-EquipoText {
    text-align: justify;
    color: #063d1d;
    font-family:  'Montserrat' , sans-serif;
    font-weight: medium;
}

.ea-st-EquipoName {
    text-align: center;
    color: #063d1d;
    font-family:  'Montserrat' , sans-serif;
    font-weight: bold,
}


/*FOOTER*/
.footer-content {
    margin-top: 50px;
}

.ea-st-FooterTitle {
    text-align: center;
    color: #063d1d;
    margin-bottom: 0;
    margin-top: 50px;
    font-family:  'Montserrat' , sans-serif;
    font-weight: bold;
}

.ea-st-FooterTitle2 {
    margin-top: 5px;
    margin-bottom: 50px;
    font-family:  'Montserrat' , sans-serif;
    font-weight: bold;

}
/*Form*/
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #063d1d;
    background-color: #e5ffd8;
    height: 600px;
    font-family:  'Montserrat' , sans-serif;
    font-weight: medium;
}

.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 11.2px;
    border: none;
    background: none;
    outline: 0;
    color: bisque;
    border-bottom: 1px solid #63b864;
}

.contact-form form button {
    background:linear-gradient(#63b864 50%, #e5ffd8 150%);
    border: #e5ffd8;
    border-radius: 20px;
    width: 30%;
    height: 40px;
    color: #e5ffd8;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 115px;
    font-family:  'Montserrat' , sans-serif;
    font-weight: bold;
}

/*Barra de footer*/

.barrafooter {
    display: flex;
    width:100%;
    height: 60px;
    background: linear-gradient(180deg, #65c067 0%, #e5ffd8 180%);
    color: #063d1d;
    font-family:  'Montserrat' , sans-serif;
    font-weight: bold;
}

.barrafooter i {
    margin-right: auto;
    size: 30px;
}

.ea-st-FooterInfo {
    margin-top: 15px;
    margin-left: 100px;
    font-size: 15px;
    line-height: 5px;
    display: grid;
    grid-template: 0px / 50% 50% 150%
}

.copyright {
    width: 100%;
    color:#063d1d;
    padding:0;
    margin:0;
    font-size: 16px;
    margin-top: 15px;
    text-align: right;
}

